<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

  <!-- Parameter Column -->
  <ng-container matColumnDef="parameter">
    <th mat-header-cell *matHeaderCellDef> {{ title }} </th>
    <td mat-cell class="parameter" *matCellDef="let table"> {{table.parameter}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell class="value-header" *matHeaderCellDef>{{date | date:'dd-MMM-yyyy'}}</th>
    <td mat-cell class="value-cell" *matCellDef="let table"> {{table.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>