.mat-elevation-z8{ 
    margin-top: -12px;
    transition: none !important;
    box-shadow: none !important;
}

.mat-row{
    height:3.5vh;
}


.mat-cell{
    font-size:9.5px;
    width: 25vw;
}

.mat-header-cell{
    font-size:9.5px;
}

.mat-header-row{
    height: 2vh
}

.value-cell{
    text-align:right;
}


.value-header{
    text-align: right;
}
