<ng-container>
    <div *ngIf="lastEvent" >
        <div class= "row">
            <div class="column">
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='np' [mode]="'annualbarChart1'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='ncf' [mode]="'annualbarChart2'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='ta' [mode]="'annualbarChart3'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='eps'[mode]="'annualbarChart4'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='0' [mode]="'annualtable1'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='1' [mode]="'annualtable2'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='2' [mode]="'annualtable3'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='3' [mode]="'annualtable4'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                </div>
            <div class="column">
                <mat-card class= "card_bigtable">
                    <app-snapshot-table [id]='4' [mode]="'annualtable5'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class= "card_bigtable">
                    <app-snapshot-table [id]='5' [mode]="'annualtable6'" [lastEvent]="lastEvent"></app-snapshot-table> <br/>
                    <app-snapshot-table [id]='6' [mode]="'annualtable7'" [lastEvent]="lastEvent"></app-snapshot-table> <br/>
                    <app-snapshot-table [id]='7' [mode]="'annualtable8'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
            </div>
        </div>
    </div> 
    <div *ngIf="!lastEvent">
        <div class= "row">
            <div class="column">
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='np' [mode]="'quarterbarChart1'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='ncf' [mode]="'quarterbarChart2'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='ta' [mode]="'quarterbarChart3'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
                <mat-card class= card_graph>
                    <app-snapshot-chart [parameterCode]='eps' [mode]="'quarterbarChart4'" [lastEvent]="lastEvent"></app-snapshot-chart>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='0' [mode]="'quartertable1'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='1'[mode]="'quartertable2'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='2' [mode]="'quartertable3'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
                <mat-card class= card_smalltable>
                    <app-snapshot-table [id]='3' [mode]="'quartertable4'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class= "card_bigtable">
                    <app-snapshot-table [id]='4' [mode]="'quartertable5'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
            </div>
            <div class="column">
                <mat-card class= "card_bigtable">
                    <app-snapshot-table [id]='5' [mode]="'quartertable6'" [lastEvent]="lastEvent"></app-snapshot-table> <br/>
                    <app-snapshot-table [id]='6' [mode]="'quartertable7'" [lastEvent]="lastEvent"></app-snapshot-table> <br/>
                    <app-snapshot-table [id]='7' [mode]="'quartertable8'" [lastEvent]="lastEvent"></app-snapshot-table>
                </mat-card>
            </div>
        </div>
    </div> 
</ng-container>
