.column {
    float: left;
    width: 23%;
    margin-top: 1vh;
    margin-left: 3vh;
  }
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;

}

ng-container{
  height: 100%;
}
.card_graph{
  margin-bottom: 3.5vh;
  width: 100%;
  padding: 0px;
}

.card_smalltable{
  margin-bottom: 3.5vh;
  height : 20vh;
  width: 100%;
  box-sizing: border-box;
}

.card_bigtable{
  height: 90vh;
  box-sizing: border-box;
  width: 100%;
}
