<mat-card class="card">
  <div class="analysis" mat-elevation-z8>
    <table mat-table class=table [dataSource]="dataSource">
      <ng-container *ngFor="let col of displayedColumns;let i = index"  [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef> {{ColumnToDisplay[i]}} </th>
        <td mat-cell *matCellDef="let row"> {{row[col]}} </td>
      </ng-container>

      <ng-container matColumnDef="groupHeader">
        <td mat-cell *matCellDef="let group" [attr.colspan] = "colspan" class="unique">{{group.group}}</td>
      </ng-container> 

      <ng-container matColumnDef="header-row-first-group">
        <th mat-header-cell *matHeaderCellDef class="header"
            [style.text-align]="center"
            [attr.colspan]="headercolspan[0]"> 
      </th>
      </ng-container>
      <ng-container matColumnDef="header-row-second-group">
        <th mat-header-cell *matHeaderCellDef class="header"
            [style.text-align]="center"
            [attr.colspan]="headercolspan[1]"> 
            Financial Annual Report
      </th>
      </ng-container>
      <ng-container matColumnDef="header-row-third-group">
        <th mat-header-cell *matHeaderCellDef class="header"
            [style.text-align]="center"
            [attr.colspan]="headercolspan[2]"> 
            4 Quarter Current/Rolling/Preceding
        </th>
      </ng-container>
      <ng-container matColumnDef="header-row-fourth-group">
        <th mat-header-cell *matHeaderCellDef class="header"
            [style.text-align]="center"
            [attr.colspan]="headercolspan[3]"> 
            4Qs Growth % (Good > 25%)
      </th>
      </ng-container>
      <ng-container matColumnDef="header-row-fifth-group">
        <th mat-header-cell *matHeaderCellDef class="header"
            [style.text-align]="center"
            [attr.colspan]="headercolspan[4]"> 
           CAGR (Good > 25%)
      </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-second-group','header-row-third-group','header-row-fourth-group','header-row-fifth-group']; sticky:true"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>
    </table>
  </div>
</mat-card>