.analysis{
    height: 80vh;
    overflow: auto;
}

.card{
    margin: 32px;
}

.header{
    height:10vh;
}

.unique{
    text-align: left !important;
}

.table{
    width:100%;
    table-layout: fixed;
}


th.mat-header-cell{
    border: 1px solid #CCC;
    text-align: center;
}

td.mat-cell{
    border: 1px solid #CCC;
    text-align: right;
    padding-right: 5px;
}


td.mat-cell:first-child{
    text-align: left !important ;
}



