.graph{
    max-height: 35vh;
    overflow: auto;
}

.card{
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 10px;
}


th.mat-header-cell, td.mat-cell {
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
}


