<mat-expansion-panel class="card" (opened)="GraphTableOpenState = true"
                        (closed)="GraphTableOpenState = false" [expanded]="true">
  <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'20px'">
      <mat-panel-title>
      Table
      </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="graph" mat-elevation-z8>
    <mat-table #table [dataSource]="TableData">
      <ng-container *ngFor="let col of displayedColumns;let i = index"  [matColumnDef]="col">
        <mat-header-cell *matHeaderCellDef> {{ColumnToDisplay[i]}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[col]}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-expansion-panel>