.details{
    height: 80vh;
    overflow: auto;
}

.card{
    margin: 32px;
}
 
.table{
    width:100%;
    table-layout: fixed;
}

.unique{
    text-align: left !important;
}

th.mat-header-cell{
    border: 1px solid #CCC;
    text-align: center;
}

td.mat-cell{
    border: 1px solid #CCC;
    text-align: right;
    padding-right: 5px;
}

mat-cell:nth-child(1){
    display:flex;
    justify-content:flex-start;
    text-align: left;
}


td.mat-cell:first-child{
    text-align: left !important ;
}

td.mat-cell:nth-child(2){
    text-align: center !important ;
}



