<mat-card class="card">
  <div class="details" mat-elevation-z8>
    <table mat-table class="table" [dataSource]="dataSource">
      <ng-container *ngFor="let col of displayedColumns;let i = index"  [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef> {{ColumnToDisplay[i]}} </th>
        <td mat-cell class='cell' *matCellDef="let row"> {{row[col]}} </td>
      </ng-container>

      <ng-container matColumnDef="groupHeader">
        <td mat-cell *matCellDef="let group" [attr.colspan]="colspan" class="unique">{{group.group}}</td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>
    </table>
  </div>
</mat-card> 