 
  <div *ngIf="lastEvent">
      <app-analysis-table [lastEvent]="lastEvent"></app-analysis-table>
  </div>

  <div *ngIf="!lastEvent">
      <app-analysis-table [lastEvent]="lastEvent"></app-analysis-table>
  </div> 

