<ng-container class="fata" fullscreen>
    <mat-toolbar color="primary" class='navigation-header'>
        <a class="nav-link-home" routerLink = "/snapshot">Snapshot</a>
        <mat-form-field class="search-box">
            <input matInput type="text" value="PENTA[7160]">
            <button mat-button matSuffix><i class="material-icons">search</i></button>
        </mat-form-field>
        <mat-button-toggle-group class="report-type" [value]="lastEvent">
            <mat-button-toggle [value]="true" (click)= 'changeType1()' >Annual</mat-button-toggle>
            <mat-button-toggle [value]="false" (click)= 'changeType2()'>Quarter</mat-button-toggle>
        </mat-button-toggle-group> 
        <span class="fa-type">
            <button mat-button class="nav-link-FA-details" routerLink = "/details">FA Details</button>
            <button mat-button class="nav-link-FA-graph" routerLink = "/graph">FA Graph</button>
            <button mat-button class="nav-link-FA-graph" routerLink = "/analysis">FA Analysis</button> 
        </span>
    </mat-toolbar>  
    <router-outlet></router-outlet>
</ng-container>



