.navigation-header{
    height:45px;
}

.fata{
    height: 100%;
    width: 100%; 
    margin: 0;
}

.nav-link-home{
    color: white;
    text-decoration: none;
}

.search-box{
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}
.report-type{
    height:35px;
    font-size-adjust: 0.5;
}

.fa-type{   
    position: absolute;
    right: 0px;
}

.mat-button-toggle{
    font-size: 15px;
}

.mat-button-toggle-checked{
    font-style: bold;
}