/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body{
    margin:0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}