 
    <div *ngIf="lastEvent">
        <app-details-table [lastEvent]="lastEvent"></app-details-table>
    </div>
 
    <div *ngIf="!lastEvent">
        <app-details-table [lastEvent]="lastEvent"></app-details-table>
    </div> 

