<div *ngIf="lastEvent">
    <app-graph-chart [selectedparameter]="dialog_parameter" [lastEvent]= "lastEvent"></app-graph-chart>
    <app-graph-table [selectedparameter]="dialog_parameter" [lastEvent]= "lastEvent"></app-graph-table>
    <app-graph-button (selectedparameter)='selectedparameter($event)'></app-graph-button>
</div>
<div *ngIf="!lastEvent">
    <app-graph-chart [selectedparameter]="dialog_parameter" [lastEvent]= "lastEvent"></app-graph-chart>
    <app-graph-table [selectedparameter]="dialog_parameter" [lastEvent]= "lastEvent"></app-graph-table>
    <app-graph-button (selectedparameter)='selectedparameter($event)'></app-graph-button>
</div> 

