
<mat-expansion-panel class="card" (opened)="GraphChartOpenState = true"
                        (closed)="GraphChartOpenState = false" [expanded]="true">
    <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'20px'"> 
        <mat-panel-title>
        Graph
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div [hidden]="!chart"> 
        <canvas #canvas height="75vh" >
            {{chart}}
        </canvas> 
    </div>
</mat-expansion-panel>