<h1 mat-dialog-title>FA Parameter</h1>
<div mat-dialog-content>
  <mat-list *ngFor ="let para of data.parameter" >
      <button mat-button [mat-dialog-close]="para.parameter" cdkFocusInitial>{{ para.parameter }}</button>
  </mat-list>
</div> 